@charset "UTF-8";

.banner{
  height:120px; 
background-color:SlateGrey; 
}
 
nav{
background-color: #333;
overflow: hidden;

}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

nav a:hover{
  background-color: #ddd;
  color: black;

}

nav a.active{
  background-color: #04aa6d;
  color: white;
}

.Landing{
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  
}

.Landing h1{
  font-size: 50px;
  line-height:1.2;
}

.Landing p{
  font-size:20px;
}

.about{
  margin-left: 15px;
}

.profile-info{
  width:60%;
  height:100vh;
  float:left;
  padding: 0 30px;
}

.profile-info h1{
  margin-top: 50px;
  margin-bottom: 30px;
}

.profileimg{
  float:left;
  margin-bottom: 100px
}

body {
  margin: 0;
  padding: 0;
  background: rgb(240, 239, 239);
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

/*about me*/

.box {
  background: #fff;
  width: 50rem;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-left {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
}

.first-name {
  font-weight: 400;
  margin: 0;
}
.last-name {
  font-weight: 200;
  margin: 0;
}

.header-right {
  width: 100%;
  display: grid;
  justify-items: end;
}

.header-right p {
  display: inline-block;
}

.grey {
  background: rgb(133, 133, 133);
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.icon {
  color: rgb(223, 223, 223);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

td,
th {
  border: 1px solid #000;
  padding: 0.4rem;
}

/*contact me*/

.form{
  text-align: left;
}